<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>ConditionMatchForGender\ConditionMatchForGender</fullnamespace>
    <descriptive locale="fr_FR">
        <title>Condition - Filtre par genre (Femme/Homme)</title>
    </descriptive>
    <descriptive locale="en_US">
        <title>Condition - Filter by gender (Female/Male)</title>
    </descriptive>
    <version>1.0</version>
    <author>
        <name>MOREL Guillaume</name>
        <email>gmorel@openstudio.fr</email>
    </author>
    <type>classic</type>
    <thelia>2.0.0</thelia>
    <stability>alpha</stability>
</module>
